@import "bootstrap/bootstrap.scss";

a:link {
text-decoration:none;
} 

#title {
    margin:20px;
}

.case {
    border: 1px solid #CCC;
    margin: 10px;
    @media screen and (max-width: 576px) {
        width:50px;
        height:50px;
        margin: 3px;
      }
}

#timer {
    margin-top:40px;
}

footer {
    margin-top: 50px;
}